.asteriskField {
  display: none;
}

.sidebar {
  min-height: 100vh;
  max-width: 230px;
  --bs-bg-opacity: .65;
}

.main-col {
  --bs-bg-opacity: .9;
}

.sign-out {
  --bs-dropdown-link-active-bg: var(--bs-danger);
}

.bg-image-dark {
  /* Photo by Anni Roenkae: https://www.pexels.com/photo/3d-futuristic-abstract-art-4k-wallpaper-15578416/ */
  background-image: url("../img/background-dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-image-light {
  /* Photo by Anni Roenkae: https://www.pexels.com/photo/photo-of-abstract-painting-2693212/ */
  background-image: url("../img/background-light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.dropdown-item:active {
  --bs-dropdown-link-active-color: var(--bs-body-bg);
  --bs-dropdown-link-active-bg: var(--bs-body-color);
}

.sign-out:active {
  --bs-dropdown-link-active-color: var(--bs-light);
  --bs-dropdown-link-active-bg: var(--bs-danger);
}

.nav-pills .nav-link.active {
  --bs-nav-pills-link-active-color: var(--bs-body-bg);
  --bs-nav-pills-link-active-bg: var(--bs-body-color);
  transition: color .15s ease-in-out,border-color .15s ease-in-out;
}

.low-priority {
  background-color: lightgreen;
  color: black;
}

.medium-priority {
  background-color: royalblue;
  color: white;
}

.high-priority {
  background-color: orange;
  color: black;
}

.urgent-priority {
  background-color: red;
  color: white;
}
