<footer class="d-flex flex-wrap mt-auto justify-content-between pt-3 my-1 mb-md-3 border-top">
  <div class="col-md-4 d-flex">
    <a
      href="https://getbootstrap.com/"
      class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
    >
      <i class="bi bi-bootstrap-fill h5"></i>
    </a>
    <span class="mb-3 mb-md-0 text-body-secondary fw-light">Built with Bootstrap</span>
  </div>
  <span class="mb-3 mb-md-0 text-body-secondary fw-light">
    {% if is_dark_mode %}
      <span>Image by
        <a
          href="https://www.pexels.com/photo/3d-futuristic-abstract-art-4k-wallpaper-15578416/"
          class="text-decoration-none text-reset font-monospace"
        >
          Anni Roenkae</a></span>
    {% else %}
      <span>Image by
        <a
          href="https://www.pexels.com/photo/photo-of-abstract-painting-2693212/"
          class="text-decoration-none text-reset font-monospace"
        >
          Anni Roenkae</a></span>
    {% endif %}
  </span>
</footer>
