{% load static %}

<nav class="navbar d-md-none d-xxl-flex navbar-expand-xxl border-bottom shadow bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand link-body-emphasis text-decoration-none" href="{% url "task_manager:home" %}">
      {% if is_dark_mode %}
      <img src="{% static "img/logo-light.svg" %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      {% else %}
      <img src="{% static "img/logo-dark.svg" %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      {% endif %}
      TaskManager
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == "home" %}active{% endif %}"
            href="{% url "task_manager:home" %}"
          >
            {% if request.resolver_match.url_name == "home" %}
            <i class="bi bi-house-door-fill pe-none me-2"></i>
            {% else %}
            <i class="bi bi-house-door pe-none me-2"></i>
            {% endif %}
            Home
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == "task-list" %}active{% endif %}"
            href="{% url "task_manager:task-list" %}"
          >
            <i class="bi bi-list-task pe-none me-2"></i>
            Tasks
          </a>
        </li>
        <li class="nav-item me-lg-4">
          <a
            class="nav-link {% if request.resolver_match.url_name == "worker-list" %}active{% endif %}"
            href="{% url "task_manager:worker-list" %}"
          >
            {% if request.resolver_match.url_name == "worker-list" %}
            <i class="bi bi-people-fill pe-none me-2"></i>
            {% else %}
            <i class="bi bi-people pe-none me-2"></i>
            {% endif %}
            Employees
          </a>
        </li>
        <hr>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown d-xl-flex">
          <a
            href="#"
            class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              fill="currentColor"
              class="bi bi-person-circle rounded-circle me-2"
              viewBox="0 0 16 16"
            >
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
            <strong>{{ user.username }}</strong>
          </a>
          <ul class="dropdown-menu mt-3">
            <li><a class="dropdown-item" href="#">New task...</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <button
                type="button"
                class="dropdown-item sign-out"
                data-bs-toggle="modal"
                data-bs-target="#logout"
              >
                Sign out
              </button>
            </li>
          </ul>
        </li>
        {% else %}
        <a
          href="{% url "login" %}"
          class="d-flex align-items-center link-body-emphasis text-decoration-none"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="currentColor"
            class="bi bi-person-circle rounded-circle me-2"
            viewBox="0 0 16 16"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
          <strong>Sign in</strong>
        </a>
        {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
