{% load static %}

<nav class="navbar navbar-expand rounded mt-2">
  <div class="container-fluid justify-content-end">
    {% if user.is_authenticated %}
      {% if request.resolver_match.url_name == "home" %}
        {% if user.first_name %}
          <span class="d-flex me-auto font-monospace">Welcome back, {{ user.first_name }}!</span>
        {% else %}
          <span class="d-flex me-auto font-monospace">Welcome back, {{ user.username }}!</span>
        {% endif %}
      {% elif request.resolver_match.url_name in "worker-list, task-list, task-type-list" %}
        {% include "includes/search_form.html" %}
      {% elif request.resolver_match.url_name == "worker-detail" %}
        {% if user.is_staff %}
          <a class="font-monospace text-decoration-none text-reset me-3" href="{% url "task_manager:worker-update" pk=worker.id %}">Edit profile</a>
          <span
            type="button"
            class="font-monospace text-danger me-auto"
            data-bs-toggle="modal"
            data-bs-target="#workerDelete"
          >
            Delete
          </span>
        {% elif worker == user %}
          <a class="font-monospace text-decoration-none text-reset me-auto" href="{% url "task_manager:worker-update" pk=worker.id %}">Edit profile</a>
        {% endif %}
      {% endif %}
    {% else %}
      <a
        href="{% url "task_manager:home" %}"
        class="d-flex align-items-center me-auto link-body-emphasis text-decoration-none"
      >
        {% if is_dark_mode %}
          <img
            src="{% static "img/logo-light.svg" %}"
            alt="Logo"
            width="30"
            height="24"
            class="pe-none me-2"
          >
        {% else %}
          <img
            src="{% static "img/logo-dark.svg" %}"
            alt="Logo"
            width="30"
            height="24"
            class="pe-none me-2"
          >
        {% endif %}
          <span class="fs-4">TaskManager</span>
      </a>
    {% endif %}
    <a
      href="{% url "task_manager:toggle-theme" %}"
      class="btn btn-bd-primary py-2 d-flex align-items-center me-3"
      type="button"
      aria-label="Toggle theme"
      data-bs-toggle="tooltip"
      data-bs-placement="bottom"
      data-bs-title="{{ is_dark_mode|yesno:"Light,Dark" }} mode"
    >
      {% if is_dark_mode %}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-sun-fill"
          viewBox="0 0 16 16"
        >
          <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
        </svg>
      {% else %}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-moon-stars-fill"
          viewBox="0 0 16 16"
        >
          <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
          <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
        </svg>
      {% endif %}
    </a>
    <a 
      class="link-body-emphasis text-decoration-none"
      href="https://github.com/Esxoyne/it-company-task-manager"
      data-bs-toggle="tooltip"
      data-bs-placement="bottom"
      data-bs-title="Project GitHub"
    >
      <i class="bi bi-github h2"></i>
    </a>
  </div>
</nav>
