{% load static %}

<div class="sidebar position-fixed shadow-sm d-none d-md-flex d-xxl-none flex-column flex-shrink-0 col-md-3 p-3 bg-body-tertiary">
  <a
    href="{% url "task_manager:home" %}"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
  >
    {% if is_dark_mode %}
      <img
        src="{% static "img/logo-light.svg" %}"
        alt="Logo"
        width="30"
        height="24"
        class="pe-none me-2"
      >
    {% else %}
      <img
        src="{% static "img/logo-dark.svg" %}"
        alt="Logo"
        width="30"
        height="24"
        class="pe-none me-2"
      >
    {% endif %}
    <span class="fs-4">TaskManager</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        href="{% url "task_manager:home" %}"
        class="nav-link {% if request.resolver_match.url_name == "home" %}active{% else %}link-body-emphasis{% endif %}"
      >
        {% if request.resolver_match.url_name == "home" %}
          <i class="bi bi-house-door-fill pe-none me-2"></i>
        {% else %}
          <i class="bi bi-house-door pe-none me-2"></i>
        {% endif %}
        Home
      </a>
    </li>
    <li class="dropdown">
      <a
        href="#"
        class="nav-link dropdown-toggle {% if request.resolver_match.url_name == "project-list" %}active{% else %}link-body-emphasis{% endif %}"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {% if request.resolver_match.url_name == "project-list" %}
          <i class="bi bi-kanban-fill pe-none me-2"></i>
        {% else %}
          <i class="bi bi-kanban pe-none me-2"></i>
        {% endif %}
        Projects
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a
          class="dropdown-item"
          href="{% url "task_manager:project-list" %}"
        >
          <i class="bi bi-kanban-fill pe-none me-2"></i>
          All Projects
        </a></li>
        <li><a 
          class="dropdown-item"
          href="{% url "task_manager:worker-detail" pk=user.id %}#projects"
        >
          <i class="bi bi-person-lines-fill pe-none me-2"></i>
          My Projects
        </a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a
        href="#"
        class="nav-link dropdown-toggle {% if request.resolver_match.url_name == "task-list" %}active{% else %}link-body-emphasis{% endif %}"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="bi bi-card-checklist pe-none me-2"></i> Tasks
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a
          class="dropdown-item"
          href="{% url "task_manager:task-list" %}"
        >
          <i class="bi bi-list-task pe-none me-2"></i>
          All Tasks
        </a></li>
        <li><a 
          class="dropdown-item"
          href="{% url "task_manager:worker-detail" pk=user.id %}#tasks"
        >
          <i class="bi bi-person-lines-fill pe-none me-2"></i>
          My Tasks
        </a></li>
      </ul>
    </li>
    <li>
      <a
        href="{% url "task_manager:worker-list" %}"
        class="nav-link {% if request.resolver_match.url_name == "worker-list" %}active{% else %}link-body-emphasis{% endif %}"
      >
        {% if request.resolver_match.url_name == "worker-list" %}
          <i class="bi bi-people-fill pe-none me-2"></i>
        {% else %}
          <i class="bi bi-people pe-none me-2"></i>
        {% endif %}
        Team
      </a>
    </li>
  </ul>
  <hr>
  {% if user.is_authenticated %}
    <div class="dropdown">
      <a
        href="#"
        class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          class="bi bi-person-circle rounded-circle me-2"
          viewBox="0 0 16 16"
        >
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>
        <strong>{{ user.username|truncatechars:16 }}</strong>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="{% url "task_manager:task-create" %}">New task...</a></li>
        <li><a class="dropdown-item" href="{% url "task_manager:worker-detail" pk=user.id %}">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li>
          <button
            type="button"
            class="dropdown-item sign-out"
            data-bs-toggle="modal"
            data-bs-target="#logout"
          >
            Sign out
          </button>
        </li>
      </ul>
    </div>
  {% else %}
    <a
      href="{% url "login" %}"
      class="d-flex align-items-center link-body-emphasis text-decoration-none"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="currentColor"
        class="bi bi-person-circle rounded-circle me-2"
        viewBox="0 0 16 16"
      >
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </svg>
      <strong>Sign in</strong>
    </a>
  {% endif %}
</div>
