{% extends "base.html" %}

{% block title %}
  {{ project.name }}
{% endblock %}

{% block navigation %}
  {% include "includes/nav_project_detail.html" %}
{% endblock %}

{% block content %}
  <div class="d-flex align-items-center">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="128"
      height="128"
      fill="currentColor"
      class="bi bi-kanban"
      viewBox="0 0 16 16"
    >
      <path d="M13.5 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-11a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h11zm-11-1a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2h-11z"/>
      <path d="M6.5 3a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V3zm-4 0a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V3zm8 0a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V3z"/>
    </svg>
    <h2 class="ms-4 me-auto pe-3">{{ project.name }}</h2>
  </div>

  <div class="container-fluid mt-3 mb-4">
    <p class="fs-5"><i class="bi bi-text-left"></i> Description</p>
    {% if project.description %}
      <p class="fs-5 fw-light">{{ project.description }}</p>
    {% else %}
      <p class="fs-5 text-muted fw-light fst-italic">No description</p>
    {% endif %}
    <p class="fs-5"><i class="bi bi-arrow-clockwise"></i> Progress</p>
    <div class="row">
      <div class="col col-md-8 col-lg-6 col-xxl-4">
        {% with progress=project.get_progress %}
          {% if progress == "100" %}
            <div class="progress project-progress mb-3" role="progressbar" aria-label="Project progress" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-success" style="width: 100%">Complete</div>
            </div>
          {% elif progress == "0" %}
            <div class="progress project-progress mb-3 d-flex justify-content-center align-items-center" role="progressbar" aria-label="Project progress" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
              Not started
              <div class="progress-bar bg-secondary" style="width: 0%"></div>
            </div>
          {% else %}
            <div class="progress project-progress mb-3" role="progressbar" aria-label="Project progress" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: {{ progress }}%"></div>
            </div>
          {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>

  <hr>

  <section id="members" class="container">
    <div class="d-flex justify-content-between">
      <h2 class="fw-light mb-4">Members</h2>
      {% if user in project.members.all %}
        <span
          type="button"
          class="btn btn-link font-monospace link-body-emphasis text-decoration-none"
          data-bs-toggle="modal"
          data-bs-target="#projectLeave"
        >
          <i class="bi bi-person-dash text-danger-emphasis"></i> Leave
        </span>
      {% else %}
        <form
          action="{% url "task_manager:project-toggle-join" pk=project.id %}"
          class="ms-auto d-inline"
          method="post"
          novalidate
        >
          {% csrf_token %}
          <button
            type="submit"
            class="btn btn-link font-monospace link-body-emphasis text-decoration-none"
          >
            <i class="bi bi-person-add text-success-emphasis"></i> Join
          </button>
        </form>
      {% endif %}
    </div>
    <div class="row">
      {% for member in project.members.all %}
        <div class="col-12 col-sm-6 col-xl-4 col-xxl-3">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title d-flex align-items-center">
                <i class="bi bi-person fs-3 me-2"></i>
                <a
                  href="{% url "task_manager:worker-detail" pk=member.id %}"
                  class="text-decoration-none link-body-emphasis stretched-link"
                >
                  {{ member.username }}
                </a>
              </h5>
              <p class="card-text">{{ member.first_name }} {{ member.last_name }}</p>
              <span class="badge rounded-pill {{ is_dark_mode|yesno:"text-bg-light,text-bg-dark"}}">{{ member.position }}</span>
            </div>
          </div>
        </div>
      {% empty %}
    </div>
      <span class="fs-5 fw-light">There are no members in this project</span>
    {% endfor %}
  </section>

  <hr>

  <section id="tasks" class="container">
    <div class="d-flex justify-content-between">
      <h2 class="fw-light mb-4">Tasks</h2>
      {% if not project.tasks.all and user in project.members.all %}
        <span
          type="button"
          class="btn btn-link font-monospace link-body-emphasis text-decoration-none"
          data-bs-toggle="modal"
          data-bs-target="#taskAdd"
        >
          <i class="bi bi-plus-circle text-success-emphasis"></i> Create
        </span>
      {% endif %}
    </div>
    {% if project.tasks.all %}
      <div class="row mt-4">
        <div class="col-sm-12 col-md-6">
          <div class="d-flex justify-content-between">
            <h3 class="fw-light mb-3">In Progress</h3>
            {% if user in project.members.all %}
              <span
                type="button"
                class="btn btn-link font-monospace link-body-emphasis text-decoration-none"
                data-bs-toggle="modal"
                data-bs-target="#taskAdd"
              >
                <i class="bi bi-plus-circle text-success-emphasis"></i> Create
              </span>
            {% endif %}
          </div>
          {% for task in incomplete_tasks %}
            <div class="card border-secondary mb-3">
              <div
                class="card-header d-flex justify-content-between align-items-center"
              >
                {% if task.is_overdue %}
                  <span class="text-danger-emphasis">Overdue</span>
                {% elif task.is_at_risk %}
                  <span class="text-warning-emphasis">At Risk</span>
                {% else %}
                  In Progress
                {% endif %}
                {% if user in task.assignees.all %}
                  {% if task.is_overdue %}
                    <a
                      href="{% url "task_manager:task-renew" pk=task.id %}"
                      class="btn badge text-decoration-none {{ is_dark_mode|yesno:"text-bg-light,text-bg-dark"}}"
                    >
                      Renew
                    </a>
                  {% else %}
                    <form
                      action="{% url "task_manager:task-toggle-complete" pk=task.id %}"
                      class="d-inline"
                      method="post"
                      novalidate
                    >
                      {% csrf_token %}
                      <button
                        type="submit"
                        class="btn badge text-decoration-none {{ is_dark_mode|yesno:"text-bg-light,text-bg-dark"}}"
                      >
                        Complete
                      </button>
                      <input type="hidden" name="referer" value="project-detail">
                    </form>
                  {% endif %}
                {% elif user in project.members.all %}
                  <form
                    action="{% url "task_manager:task-toggle-assign" pk=task.id %}"
                    class="ms-auto d-inline"
                    method="post"
                    novalidate
                  >
                    {% csrf_token %}
                    <button
                      type="submit"
                      class="btn badge text-decoration-none text-secondary-emphasis {{ is_dark_mode|yesno:"bg-light-subtle,bg-dark-subtle"}}"
                    >
                      <i class="bi bi-person-add"></i> Assign me
                    </button>
                    <input type="hidden" name="referer" value="project-detail">
                  </form>
                {% endif %}
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  <a
                    href="{% url "task_manager:task-detail" pk=task.id %}"
                    class="text-decoration-none link-body-emphasis"
                  >
                    {{ task.name }}
                  </a>
                </h5>
                <p class="card-text">{{ task.description|truncatechars:64 }}</p>
                <div class="d-flex justify-content-between">
                  <span class="badge rounded-pill {{ is_dark_mode|yesno:"text-bg-light,text-bg-dark"}}">{{ task.task_type.name }}</span>
                  <span class="badge rounded-pill {{ task.priority }}-priority">{{ task.priority|capfirst }}</span>
                </div>
              </div>
              <div class="card-footer text-body-secondary d-flex justify-content-between">
                <span><i class="bi bi-clock me-2"></i>{{ task.deadline|date:"M j, Y" }}</span>
                <a
                  href="{% url "task_manager:task-detail" pk=task.id %}#assignees"
                  class="text-reset text-decoration-none"
                >
                  <span><i class="bi bi-person"></i> {{ task.assignees.count }} assignee{{ task.assignees.count|pluralize }}</span>
                </a>
              </div>
            </div>
          {% empty %}
            <p class="fw-light fs-5">No tasks started</p>
          {% endfor %}
        </div>
        <div class="col-sm-12 col-md-6">
          <h3 class="fw-light mb-3">Completed</h3>
          {% for task in completed_tasks %}
            <div class="card border-secondary mb-3">
              <div
                class="card-header {{ task.is_completed|yesno:"text-bg-success,"}} d-flex justify-content-between align-items-center"
              >
                Done
                {% if user in task.assignees.all %}
                  <form
                    action="{% url "task_manager:task-toggle-complete" pk=task.id %}"
                    class="d-inline"
                    method="post"
                    novalidate
                  >
                    {% csrf_token %}
                    <button
                      type="submit"
                      class="btn badge text-decoration-none {{ is_dark_mode|yesno:"text-bg-light,text-bg-dark"}}"
                    >
                      Undo
                    </button>
                    <input type="hidden" name="referer" value="project-detail">
                  </form>
                {% endif %}
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  <a
                    href="{% url "task_manager:task-detail" pk=task.id %}"
                    class="text-decoration-none link-body-emphasis"
                  >
                    {{ task.name }}
                  </a>
                </h5>
                <p class="card-text">{{ task.description|truncatechars:64 }}</p>
                <span class="badge rounded-pill {{ is_dark_mode|yesno:"text-bg-light,text-bg-dark"}}">{{ task.task_type.name }}</span>
              </div>
              <div class="card-footer text-body-secondary d-flex justify-content-between">
                <span><i class="bi bi-clock me-2"></i>{{ task.deadline|date:"M j, Y" }}</span>
                <a
                  href="{% url "task_manager:task-detail" pk=task.id %}#assignees"
                  class="text-reset text-decoration-none"
                >
                  <span><i class="bi bi-person"></i> {{ task.assignees.count }} assignee{{ task.assignees.count|pluralize }}</span>
                </a>
              </div>
            </div>
          {% empty %}
            <p class="fw-light fs-5">No completed tasks</p>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <div class="d-flex justify-content-between">
        <span class="fw-light fs-4">This project does not have any tasks yet</span>
      </div>
    {% endif %}
  </section>

  {% if user.is_staff or user in project.members.all %}
    {% include "includes/project_delete_modal.html" %}
    {% include "includes/task_create_modal.html" %}
  {% endif %}
  {% if user in project.members.all %}
    {% include "includes/project_leave_modal.html" %}
  {% endif %}
{% endblock %}
