{% extends "base.html" %}

{% block title %}
  {{ task.name|truncatechars:32 }}
{% endblock %}

{% block content %}
  <h1>{{ task.name }}</h1>

  {% if user.is_staff %}
    <button
      type="button"
      href="{% url "task_manager:task-delete" pk=task.id %}"
      class="btn btn-danger"
      data-bs-toggle="modal"
      data-bs-target="#taskDelete"
    >
      Delete
    </button>
  {% endif %}
  <a href="{% url "task_manager:task-update" pk=task.id %}" class="btn btn-secondary">
    Update
  </a>
  {% if task.is_completed %}
    <a href="{% url "task_manager:toggle-task-complete" pk=task.id %}" class="btn btn-secondary">
      Undo
    </a>
  {% else %}
    <a href="{% url "task_manager:toggle-task-complete" pk=task.id %}" class="btn btn-success">
      Complete
    </a>
  {% endif %}

  <p>Type: {{ task.task_type.name }}</p>
  <p>Priority: <strong>{{ task.priority|capfirst }}</strong></p>

  <h1>
    Assignees

    {% if task in user.tasks.all %}
      <a href="{% url "task_manager:toggle-task-assign" pk=task.id %}" class="btn btn-danger link-to-page">
        Delete me from this task
      </a>
    {% else %}
      <a href="{% url "task_manager:toggle-task-assign" pk=task.id %}" class="btn btn-success link-to-page">
        Assign me to this task
      </a>
    {% endif %}

  </h1>
  <hr>
  <ul>
    {% for worker in task.assignees.all %}
      <li>{{ worker.username }} ({{ worker.first_name }} {{ worker.last_name }})</li>
    {% endfor %}
  </ul>

  {% if user.is_staff %}
    {% include "includes/task_delete_modal.html" %}
  {% endif %}
{% endblock %}
