{% extends "base.html" %}

{% block title %}
  Task Types
{% endblock %}

{% block navigation %}
  {% include "includes/nav_list.html" with create=True model="task-type" %}
{% endblock %}

{% block content %}
  <h1 class="text-center">
    Task Types
  </h1>

  {% if tasktype_list %}
    <div class="col-11 container justify-content-center table-responsive">
      <table class="table table-striped table-borderless table-hover mt-3 rounded rounded-2 overflow-hidden text-center">
        <thead class="{{ is_dark_mode|yesno:"table-light,table-dark" }}">
          <tr>
            <th></th>
            <th class="text-start">Name</th>
            <th>Tasks</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for tasktype in tasktype_list %}
          <tr>
            <td><i class="bi bi-tag-fill"></i></td>
            <td class="text-start">
              <span class="text-body-emphasis">
                {{ tasktype.name }}
              </span>
            </td>
            <td>{{ tasktype.tasks.count }}</td>
            <td>
              <a
                class="text-warning text-decoration-none"
                href="{% url "task_manager:task-type-update" pk=tasktype.id %}"
              >
                <i class="bi bi-pencil-fill"></i>
              </a>
              {% if user.is_staff %}
              <a
                class="ms-3 text-danger text-decoration-none"
                href="{% url "task_manager:task-type-delete" pk=tasktype.id %}"
              >
                <i class="bi bi-trash-fill"></i>
              </a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <span class="fw-light fs-4">There are no task types yet</span>
  {% endif %}
{% endblock %}
